.navigationContainer {
    width: auto;
    min-width: 10%;
    height: 1080px;
    position: fixed;
    left: 0;
    z-index: 6;
    display: flex;
}

.selectedMenu {
    background-color: rgba(29, 32, 33, 0);
    opacity: 1;
}

.navigationContent1 {
    width: auto;
    min-width: 80px;
    padding: 0px 10px 0px 10px;
    display: flex;
    flex-direction: column;
}



.navigationProfile {
    width: 80%;
    height: 120px;
    margin: 50px auto 50px auto;
    display: flex;
}
.navigationProfileImage{
    width: 50%;
    max-width: 60px;
    background-color: rgb(37, 37, 37);
    min-width: 70px;
    height: 60%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    border-radius: 10px;

}

.navigationProfileText{
    width: 400px;
    height: 100%;
    display: none;
    flex-direction: column;
}

.navigationProfileText h3 {
    height: auto;
    margin: 0;
    text-align: left;
    margin-left: 25px;

}

.navigationProfileDate {
    height: auto;
    margin-top: 15px;
    text-align: left;
    margin-left: 25px;
    display: flex;
}

.navigationProfileDate h4 {
margin: 0
}

.navigationButton {
    background-color: rgba( 0, 0, 0, 0);
    border: none;
    box-shadow: none;
    width: 80%;
    display: flex;
    height: 90px;
    margin: 5px auto;
}




.navigationButtonIcon {
    width: 50%;
    max-width: 60px;
    min-width: 60px;
    height: 100%;
}

.navigationButtonIcon img {
    width: 70%;
    margin: 15px auto;
    height: auto;

}

.navigationButtonText {
    width: 400px;
    display: none;
    height: 100%;
}

.navigationButtonText h3 {
    text-align: left;
    margin-left: 20px;
    padding-top: 15px;
    margin-top: 0px;
}


.selectedMenu:focus-within{
    background-color: rgba(35, 35, 35, 0.98);
    opacity: 1;

    .navigationContent1 {
        transition-timing-function: ease-in;

    }
    .navigationButtonText{
        display: block;
    }
    .navigationProfileText{
        display: flex;
        flex-direction: column;
    }

  }



.selectedMenuItem:focus-within{

    .navigationButton {
        border: 5px solid rgb(255, 255, 255);
        box-shadow: rgba(0, 0, 0, 0.4) 0px 7px 29px 0px;
        transition-timing-function: ease-in;
    }
}

