.focusedContainer {
    width: 95%;
    margin-top: -10px;
    margin-left: 5%;
    height: 450px;
    position: fixed;
    background-color: #1d2021;
    display: flex;
}

.focusedTextInfo {
width: 60%;
height: 100%;
padding-left: 5%;
}

.focusedLogoContent{
    width: 100%;
    margin-top: 5%;
    height: 100px;
    display: flex;
}

.focusedLogoImage {
    width: 300px;
    border-radius: 5px;
    height: 100%;
    background-color: rgba(43, 43, 43, 0.7);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 7px 29px 0px;
}

.focusedShowLogo {
    width: auto;
    height: 70%;
    margin: 20px auto auto auto;
    background-position: center;
    background-size:contain ;
    background-repeat: no-repeat;
    object-fit: contain;
}

.focusedLogoName {
    width: 100%;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
    height: 100%;
}

.focusedLogoName h2 {
    width: 100%;
    margin-top: 20px;
    text-align: left;
    height: 100%;
}
.focusedDetailsContainer {
    width: 100%;
    height: 270px;
    margin-top: 15px;
}
.focusedShowGenresAndDuration {
    width: 100%;
    height: 15%;
    display: flex;
}
.focusedShowGenresAndDuration h6 {
    width: auto;
    padding-right: 10px;
    height: auto;
    margin: 10px 10px 0px 0px;
}
.focusedShowDescription {
    width: 100%;
    height: 70%;
}

.focusedShowDescription h3 {
    width: auto;
    height: auto;
    margin: 0px;
}
.focusedShowDescription h4 {
    width: auto;
    height: auto;
    margin: 0px;
}

.focusedImageInfo {
width: 40%;
height: 100%;
background-position: center;
background-size: cover;
object-fit: contain;
background-repeat: no-repeat;
}

.shadowLeft {
    width: 100%;
    height: 100%;
    background-color: rgb(200, 17, 194);
    background: linear-gradient(90deg, rgba(29,32,33,1) 0%, rgba(29,32,33,0.8) 3%, rgba(29,32,33,0.6) 6%, rgba(29,32,33,0.4) 9%, rgba(29,32,33,0.2) 12%, rgba(29,32,33,0) 15%) ;
}



/* inicio do categories*/

.channelCategoriesContent {
    width: 94%;
    padding-top: 450px;
    margin-left: 5%;
    height: 100px;
    overflow: scroll;
    display: flex;
    color: #1d2021;
}
.channelCategoriesContent::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .channelCategoriesContent {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

.channelButton{
    width: 90px;
    margin: auto 5px;
    background-color: white;
    color: #333;
    font-size: 1rem;
    height: 45px;
}

.channelButton:nth-child(1) {
    margin-left: 5%;
    }

.Bar {
    font-size: 3rem;
    color: white;
    margin-top: 20px;
}


/* inicio do all channels*/

.allChannelsContainer {
    width: 90%;
    margin-left: 5%;
    height: auto;
    padding: 10px 10px 10px 5%;
}

.allChannelsContent {
    width: auto;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    color: #1d2021;
}

.channelContainer {
    width: 300px;
    margin: 5px;
    height: 100px;
    text-align: center;
    background-color: rgba(43, 43, 43, 0.7);
}

.channelButtonShow {
    width: 100%;
    height: 100%;
    background-color: inherit;

}

.channelImageShow {
    width: auto;
    height: 70%;
    margin: auto;
    background-position: center;
    background-size:contain ;
    background-repeat: no-repeat;
    object-fit: contain;
}
